.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  display: flex;
  .mainBox {
    flex: 1;
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
    //滚动条整体部分
    &::-webkit-scrollbar {
      width: 8px;
      height: 5px;
      background: #fcfae9;
    }
    //滚动条里面可以拖动的那个
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #283c5f;
      background-image: -webkit-linear-gradient(
        45deg,
        hsla(0, 0%, 100%, 0.4) 25%,
        transparent 0,
        transparent 50%,
        hsla(0, 0%, 100%, 0.4) 0,
        hsla(0, 0%, 100%, 0.4) 75%,
        transparent 0,
        transparent
      );
    }
    // 外层轨道
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}
